<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Snippet Organizer</title>

  </head>
  <body>
      <header>
          <nav class="header-nav">
              <li><a href=/api>home</a></li>
              <li><a href="/api/view">snippets</a></li>
              <li><a href="/api/mysnippets">my snippets</a></li>
          </nav>

          <h1>The <em>{Snippet}=</em> Organizer</h1>
      </header>



  </body>
</html>
